@import url("./base.css");
@import url("./navbar.css");
@import url("./layout.css");
@import url("./hero.css");
@import url("./mountain-detail.css");
@import url("./about-page.css");
@import url("./explore-map.css");
@import url("./explore-page.css");
@import url("./styles.css");
@import url("./responsive.css");
@import url("./footer.css");

/* Simple Page Transition Styles */
#app {
  transition: opacity 300ms ease-in-out;
}
